@if (currentPendingTasks()) {
  <bit-callout *ngIf="(pendingTasks$ | async)?.length as taskCount" type="warning" [title]="''">
    <i class="bwi bwi-exclamation-triangle tw-text-warning" aria-hidden="true"></i>
    <a bitLink [routerLink]="'/at-risk-passwords'">
      {{
        (taskCount === 1 ? "reviewAndChangeAtRiskPassword" : "reviewAndChangeAtRiskPasswordsPlural")
          | i18n: taskCount.toString()
      }}
    </a>
  </bit-callout>
}

@if (showTasksResolved()) {
  <bit-banner
    class="-tw-m-6 tw-flex tw-flex-col tw-pb-6 tw-pt-2"
    bannerType="info"
    [showClose]="true"
  >
    {{ "atRiskLoginsSecured" | i18n }}
  </bit-banner>
}
